@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body
{
    position: absolute;
    width: 1440px;
    height: 768px;
    background-image: url(img/LinkedPages.png);
    background-size: 1440px 768px;
    

}